{% extends 'layout.html' %}

{% block content %}

<div class="container mt-5">
    <div class="container-fluid mt-4">

    <div class="mb-4">

        <a
            href="/"
            class="btn btn-outline-dark"
        >

            ← Menú Principal

        </a>

    </div>

    <div class="card shadow-lg border-0 rounded-4">

        <div class="card-body p-5">

            <h1 class="fw-bold text-center mb-5">

                📈 Gráfico de Ventas

            </h1>

            <div class="text-center">

                <img
                    src="/{{ imagen }}"
                    class="img-fluid rounded-4 shadow"
                    style="max-width:1000px;"
                >

            </div>

        </div>

    </div>

</div>

{% endblock %}